<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Static Analyzer"
            id="StaticAnalyzer">
      </category>
      <view
            name="Static Analyzer"
            icon="icons/sample.gif"
            category="StaticAnalyzer"
            class="edu.asu.poly.se.staticanalyzer.plugin.views.PluginView"
            id="edu.asu.poly.se.staticanalyzer.plugin.views.PluginView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="edu.asu.poly.se.staticanalyzer.plugin.views.PluginView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
